<section class="section">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-4">
        <h1 class="title has-text-centered">Iniciar sesión</h1>

        <div class="box">
          <form>
            <!-- Email -->
            <div class="field">
              <label class="label">Email</label>
              <div class="control">
                <input
                  class="input"
                  type="email"
                  placeholder="tu@email.com"
                />
              </div>
            </div>

            <!-- Password -->
            <div class="field">
              <label class="label">Contraseña</label>
              <div class="control">
                <input
                  class="input"
                  type="password"
                  placeholder="********"
                />
              </div>
            </div>

            <div class="field">
              <button class="button is-primary is-fullwidth">
                Ingresar
              </button>
            </div>
          </form>
        </div>

      </div>
    </div>
  </div>
</section>

