<div *ngIf="isLoading" class="has-text-centered mt-6">
  <p class="has-text-grey">⏳ Cargando...</p>
</div>

<!-- Si hay error -->
<div *ngIf="error" class="has-text-centered mt-6">
  <p class="has-text-danger">⚠️ {{ error }}</p>
</div>

<!-- Si todo está bien -->
<ng-container *ngIf="portfolio && !isLoading">
  <section class="section">
    <div class="container">
      <h1 class="title has-text-centered">Sobre mí</h1>
      <p class="subtitle has-text-centered">
  {{ portfolio!.profile.username }} - {{ portfolio!.profile.title }}
</p>

      <!-- Btn edit -->
      <div class="has-text-right mb-4" *ngIf="loggedIn$ | async">
        <a class="button is-warning" routerLink="/edit-perfil">
          ✏️ Editar perfil
        </a>
      </div>

      <div class="columns is-vcentered">
        <!-- Columna izquierda: imagen -->
        <div class="column is-4 has-text-centered">
          <figure class="image is-256x256 is-inline-block">
            <img
              class="is-rounded"
              [src]="portfolio!.profile.urlImg"
              alt="Foto de perfil"
            />
          </figure>
        </div>

        <!-- Columna derecha: texto -->
        <div class="column is-8">
          <div class="content">
            <p>{{ portfolio!.profile.description }}</p>
            <p>{{ portfolio!.profile.aboutMe }}</p>

            <div class="tags">
              <span class="tag is-primary">Angular</span>
              <span class="tag is-link">TypeScript</span>
              <span class="tag is-info">Bulma</span>
              <span class="tag is-success">Spring Boot</span>
              <span class="tag is-warning">Java</span>
              <span class="tag is-dark">REST API</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</ng-container>
