<footer class="footer">
  <div class="content has-text-centered">
    <p>
      <strong>Tu Nombre</strong> · Angular & Spring Boot
    </p>
    <p>
      © 2025 — Todos los derechos reservados
    </p>

    <div class="buttons is-centered mt-3">
      <a class="button is-small is-dark" href="https://github.com/nahdaicue" target="_blank">
        GitHub
      </a>
      <a class="button is-small is-link" href="https://www.linkedin.com/in/nahuel-cuello/" target="_blank">
        LinkedIn
      </a>
    </div>
  </div>
</footer>

